{% extends 'base.html' %}

{% block title%}
<title>Update Location</title>
{% endblock %}

{% block content %}
<main style="background-color: #101820FF">
    <div class="container-fluid">
        <h1 class="mt-4" style="color:#F2AA4CFF">Hello,there</h1>
        <!-- <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/locations/">Locations</a></li>
            <li class="breadcrumb-item active">Update Location</li>
        </ol> -->
        <div class="card mb-4" style="background-color:#101820FF ;color : #F2AA4CFF;border-color: black;">

            <div class="card-header" style="border-bottom: 1px solid #F2AA4CFF;">Update Location</div>
            <div class="card-body">
                <form action="/update-location/{{location.location_id}}" method="POST" id="location_form">
                    <label for="location_name" class="col-form-label">Location Name</label>
                    <input type="text" name="location_name" id="location_name" value="{{location.location_id}}">
                    <input id="submitLocation" value="Update" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}